/* WEBSITE CSS */


/*****************************************************      
                 * COMMON *
*****************************************************/

* {
    box-sizing: border-box;
}


/* html {
  scroll-behavior: smooth
} */

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    /* font: normal 10px Verdana, Arial, sans-serif; */
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}


/*****************************************************      
                 NAV BAR START
*****************************************************/

.navbar-menu {
    background-color: #004385;
    width: calc(100%);
    height: 55px;
    border-bottom: solid 1px #10ade9d9;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.navbar-menu .navbar-1 a {
    transition: all 0.4s ease 0s;
}

.navbar-menu .navbar-1 a:hover {
    background-color: white;
    color: #004385;
}

.nav-menu-options li a {
    display: block;
    padding: 17px;
}

.nav-homepage {
    display: inline-block;
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
    height: inherit;
    padding: 15px 16px;
}

.nav-menu-select {
    margin: 0;
    text-align: right;
    height: 55px;
}

.navbar-2 .nav-homepage {
    font-size: 25px !important;
}

.nav-hamburger {
    display: inline-block;
    height: inherit;
    padding: 14px;
}

.nav-menu-options {
    display: block;
    text-align: right;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #10ade9d9;
    position: relative;
    bottom: 1px;
    /* equal to the bottom border of navbar */
}

.navbar-1 .nav-menu-options {
    background-color: #004385;
}

.navbar-2 a {
    padding: 15px !important;
}

.navbar-2 .nav-menu-options a {
    font-size: 23px !important;
    font-weight: bold;
}

.navbar-2 a:after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .4s ease, background-color .4s ease;
}

.navbar-2 a:hover:after {
    width: 100%;
    background: white;
}


/* DESKTOP */

@media screen and (min-width: 750px) {
    .nav-menu-options .label {
        display: none;
    }
    .nav-menu-select {
        display: none;
    }
    .nav-menu-options {
        display: block !important;
        border-bottom: 0;
    }
    .nav-menu-options li {
        display: inline-block;
    }
}


/* MOBILE */

@media screen and (max-width: 750px) {

    .navbar-1 .nav-menu-options{
        border-bottom: 0;
    }
    .navbar-2 .label {
        display: block;
        color: #004385;
        background-color: white;
        cursor: default;
        border-bottom: 22px solid;
    }
    .navbar-2 .links-2 {
        background-color: #004385;
    }
    .navbar-2 .nav-homepage {
        display: none;
    }
    .navbar-2 .label:after {
        pointer-events: none;
        position: absolute;
        content: '';
        border-style: solid;
        left: calc(50% - 30px);
        top: 50px;
        border-color: white transparent transparent transparent;
        border-width: 30px;
        margin: 0px !important;
        height: 0;
    }
    .navbar-2 .label:hover:after {
        width: 0;
        background-color: transparent;
    }
    .navbar-menu {
        margin: 0;
    }
    .nav-menu-options {
        display: none;
        position: relative;
        text-align: center;
    }
    .nav-menu-options li {
        display: block;
    }
}


/* *** ANIMATION HAMBURGER CLICK **** */

.hamburger {
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-hamburger:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    top: 10px;
    right: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.nav-hamburger.change:before {
    border: 2px solid currentColor;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -5px);
}


/*****************************************************      
                 NAV BAR END
*****************************************************/

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    height: auto;
    padding: 10px;
}

.row.downloaddiv {
    background-color: #005ec8;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0f8afc80), color-stop(100%, #005ec8f5));
    background-image: -webkit-linear-gradient(45deg, #0f8afc80 0, #005ec8f5 100%);
    background-image: -moz-linear-gradient(45deg, #0f8afc80 0, #005ec8f5 100%);
    background-image: -ms-linear-gradient(45deg, #0f8afc80 0, #005ec8f5 100%);
    background-image: -o-linear-gradient(45deg, #0f8afc80 0, #005ec8f5 100%);
    background-image: linear-gradient(45deg, #0f8afc80 0, #005ec8f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f8afc80', endColorstr='#005ec8f5', GradientType=1);
}

.home {
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: 1px;
    line-height: 21px;
}

.downloads {
    text-align: center;
}


/*****************************************************      
                 * DOWNLOAD BUTTONS *
*****************************************************/

.downloads .download {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: #00171F;
    opacity: 0.9;
    margin: 15px;
    padding: 20px 24px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #00171F;
    cursor: pointer;
    color: white;
    width: 160px;
    /* height: 111px; */
    font-size: 18px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mainimg {
    max-width: 240px;
}

.downloads .download:hover {
    text-decoration: none;
    border: 1px solid #ff4b00;
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*****************************************************      
                 * DOWNLOAD BUTTONS END *
*****************************************************/


/* GETTING STARTED SECTION*/

.row.started {
    background-color: #004385;
    text-align: center;
    vertical-align: top;
}

img.sshots_img {
    height: auto;
    max-width: 381px;
    width: 85%;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.sshots_spn {
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

.sshots_p {
    max-width: 320px;
    text-align: center;
    color: white;
    margin: inherit;
    font-size: 20px;
}


/* SEE ACTION */

.row.see_action {
    /* background-color: #6DAEDB; */
    background-color: #056cd8;
    text-align: center;
    vertical-align: top;
}


/* FEATURES */

.row.features {
    /* background-color: #1B4353; */
    background-color: #004385;
    text-align: center;
    vertical-align: top;
}

.features_ul li {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.features_div {
    display: inline-flex;
    margin: 15px;
}


/* FREE DOWNLOAD */

.row.freedownload {
    background-color: #056cd8;
    text-align: center;
    vertical-align: top;
}


/* FOOTER */


/* MAIN PAGE */


/*****************************************************      
                 * CARD LAYOUT *
*****************************************************/

.app_card_wrapper {
    max-width: 300px;
    overflow: hidden;
    width: 85%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffa700;
    display: inline-block;
    margin: 50px 5% 100px 5%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.card_icon_img {
    max-width: 100%;
}

.card_icon {
    /* margin: 50px 0 50px 0; */
    padding: 50px;
    background-color: white;
}

.card_label {
    margin: -5px;
}

.card_desc {
    background-color: black;
    position: absolute;
    bottom: -100%;
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.app_card_wrapper:hover .card_desc {
    opacity: 1.0 !important;
    bottom: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/*****************************************************      
                 * CARD LAYOUT END *
*****************************************************/


/*****************************************************      
                 FLASH CLIPBOARD
*****************************************************/

.toppadding {
    padding-top: 100px;
}


/*****************************************************      
                 FLASH CLIPBOARD END
*****************************************************/