--- 
---
/*****************************************************      
                 * COMMON VARIABLES *
*****************************************************/
//gradients
.sample.gradients{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background-image: linear-gradient( 111.5deg, rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-image: linear-gradient( 94.5deg, #3f51b552 -1.2%, #f4433652 119.2% );
    background-image: linear-gradient( 90.7deg,  rgba(255,253,218,1) 1.9%, rgba(246,210,255,1) 39.3%, rgba(152,222,254,1) 64.7%, rgba(251,255,210,1) 100.8% );
    background-image: linear-gradient( 93deg, rgba(255, 253, 218, 0.61) 1.9%, rgba(246, 210, 255, 0.56) 39.3%, rgba(152, 222, 254, 0.47) 64.7%, rgba(251, 255, 210, 0.6) 100.8% );
    //good rotates: 103 deg
    background-image: linear-gradient( 103deg,  rgba(235,225,188,1) 7.2%, rgba(232,188,234,1) 57.5%, rgba(203,209,244,1) 90.7% );
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}



// COLORS //
$color-main:#fefefe;
$color-accent: #2948ff;
$color-hello-world:#8e9eff;
$color-gradient:linear-gradient(to right, #396afc, #2948ff);
$font-color:#363636;
$para-color:#868686;
$color-background:#eeeeee;
$background-image: linear-gradient( 95deg, rgba(255, 253, 218, 0.61) 1.9%, rgba(246, 210, 255, 0.56) 39.3%, rgba(152, 222, 254, 0.47) 64.7%, rgba(251, 255, 210, 0.6) 100.8% );

$box-shadow-heavy:0 6px 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow-light:0 1px 4px 0 rgba(0, 0, 0, 0.14);
%color-invert {
    background: $color-gradient;
    color: $color-main;
}
// MISC //
$baseurl:"{{ site.baseurl }}";
$nav-color-prime: #4285f4;
$nav-color-second: $color-main;
// $nav-border-bottom: solid 1px rgba(16, 173, 233, 0.851);
$width-mobile-xs: 420px;
$width-mobile: 768px;
$width-desktop: 1080px;
$page-max-width:1100px;
//--------------- FONT -------------------//
%main-title-font {
    font-size: 42px;
    font-weight: 100;
    line-height: 44px;
    color: $font-color;
}

%title-font {
    font-size: 36px;
    height: 90px;
    text-align: center;
    color: $font-color;
    font-weight: 100;
}

%app-title-font {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

%section-subtitle-font{
    font-size: 20px;
    font-weight: 100;
    position: relative;
    bottom: 45px;
    letter-spacing: 0.03em;
}

%subtitle-font {
    font-size: 17px;
    margin: 20px 0;
    display: block;
    font-weight: 400;
    color: $font-color;
}

%app-platform-font {
    font-size: 16px;
    line-height: 25px;
    color: $color-main;
}
%para-font {
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    text-align: left;
}

%desc-font {
    font-size: 15px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    text-align: left;
}

/*****************************************************      
                 * COMMON VARIABLES END *
*****************************************************/

/*****************************************************      
                 * COMMON CSS START *
*****************************************************/

* {
    box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth
} */

body {
    font-family: 'Roboto', sans-serif, helvetica;
    margin: 0;
    padding: 0;
    background: $color-background;
    background: $background-image;
    font-size: 16px;
    color: $para-color;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-weight: 300;
    p {
        @extend %para-font;
    }
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

footer{
    padding: 0 0 30px 0;
    a{
        color:$para-color;
        &:focus,
        &:active,
        &:hover {
            border-bottom: 0.5px solid;
        }
    }
    .info{
        text-align: center;
    font-size: 14px;
    }
}
/*****************************************************      
                 * COMMON CSS END*
*****************************************************/

/*****************************************************      
                 MATERIAL START
*****************************************************/

.material {
    background: $color-main;
    border-radius: 2px;
    box-shadow: $box-shadow-light;
    padding: 25px;
    margin: 0 0 30px 0;
    .card-subname {
        margin: 0 0 10px 0;
        padding: 1px 5px;
        display: inline-block;
        vertical-align: top;
        background: #efefef;
        font-size: 13px;
        color: $font-color;
        border-radius: 2px;
    }
    .card-content {
        margin-bottom: 0;
    }
}

.main-container {
    margin: 0 auto;
    position: relative;
    background: $color-background;
    background: $background-image;
}

.main-title {
    @extend %main-title-font;
}

.card-title {
    position: relative;
    margin: -57px 0 0 0;
    text-align: center;
}

.card-subtitle {
    @extend %subtitle-font;
}

.card-icon {
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden;
    width: 62px;
    height: 62px;
    line-height: 62px;
    background: $color-gradient;
    border-radius: 51%;
    box-shadow: $box-shadow-heavy;
    color: $color-main;
    .icon-url {
        width: 30px;
        height: 30px;
        background-size: contain !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
}

.section {
    text-align: center;
    padding: 35px 0;
    .title {
        @extend %title-font;
    }
    .subtitle {
        @extend %section-subtitle-font;
    }
}

/*****************************************************      
                 MATERIAL END
*****************************************************/

/*****************************************************      
                 BOOTSTRAP START
*****************************************************/

.row {
    margin: 0 auto;
    padding: 0 0 30px 0;
    max-width: $page-max-width;
    @media (max-width: $width-desktop) {
        margin: 0 10px;
    }
    @media (max-width: $width-mobile-xs) {
        margin: 0 5px;
    }
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

//mobile first CSS
.row [class*="col-"] {
    float: left;
    width: 100%;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .row .col-12 {
        width: 99.996%;
    }
    .row .col-11 {
        width: 91.663%;
    }
    .row .col-10 {
        width: 83.333%;
    }
    .row .col-9 {
        width: 74.997%;
    }
    .row .col-8 {
        width: 66.664%;
    }
    .row .col-7 {
        width: 58.331%;
    }
    .row .col-6 {
        width: 49.998%;
    }
    .row .col-5 {
        width: 41.665%;
    }
    .row .col-4 {
        width: 33.332%;
    }
    .row .col-3 {
        width: 24.999%;
    }
    .row .col-2 {
        width: 16.666%;
    }
    .row .col-1 {
        width: 8.333%;
    }
}

/*****************************************************      
                 BOOTSTRAP END
*****************************************************/

/*****************************************************      
                 NAV BAR START
*****************************************************/

@import 'navbar';
/*****************************************************      
                 NAV BAR END
*****************************************************/

@import 'home';

/*****************************************************      
                 FLASH CLIPBOARD
*****************************************************/


/*****************************************************      
                 * DOWNLOAD BUTTONS *
*****************************************************/

.downloads .download {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: #00171F;
    opacity: 0.9;
    margin: 15px;
    padding: 20px 24px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #00171F;
    cursor: pointer;
    color: $color-main;
    width: 160px;
    /* height: 111px; */
    font-size: 18px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mainimg {
    max-width: 240px;
}

.downloads .download:hover {
    text-decoration: none;
    border: 1px solid #ff4b00;
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*****************************************************      
                 * DOWNLOAD BUTTONS END *
*****************************************************/

/* GETTING STARTED SECTION*/

.row.started {
    background-color: $nav-color-prime;
    text-align: center;
    vertical-align: top;
}

img.sshots_img {
    height: auto;
    max-width: 381px;
    width: 85%;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.sshots_spn {
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

.sshots_p {
    max-width: 320px;
    text-align: center;
    color: $color-main;
    margin: inherit;
    font-size: 20px;
}

/* SEE ACTION */

.row.see_action {
    background-color: #056cd8;
    text-align: center;
    vertical-align: top;
}

/* FEATURES */

.row.features {
    background-color: $nav-color-prime;
    text-align: center;
    vertical-align: top;
}

.features_ul li {
    color: $color-main;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.features_div {
    display: inline-flex;
    margin: 15px;
}

/* FREE DOWNLOAD */

.row.freedownload {
    background-color: #056cd8;
    text-align: center;
    vertical-align: top;
}

/*****************************************************      
                 FLASH CLIPBOARD END
*****************************************************/
/*****************************************************      
                 * CARD LAYOUT *
*****************************************************/

@import 'card';
/*****************************************************      
                 * CARD LAYOUT END *
*****************************************************/
/*****************************************************      
                 ABOUT-ME
*****************************************************/

@import 'about';
/*****************************************************      
                 ABOUT-ME END
*****************************************************/