--- 
navbar_links:
  Jerry Factory : "/"
  Apps : "#apps"
  About Me : "#about-me"
  Contact : "#contact"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <title>Jerry Factory</title>

    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    
    {% include navbar_template.html links = page.navbar_links %}
    <div class="row downloaddiv">

        <div align="center">
            <img class='mainimg' src="./img/jf335.png" alt="Flash Clipboard">
        </div>
        <h1>
            Jerry Factory</h1>
        <h3>Free and Open Source Apps</h3>


    </div>
    <div class="row started" id="apps">
        <h1>Apps & Software</h1>
        <div class='app_cards_container'>
            {% include card_template.html card_data = site.data.cards_data %}
        </div>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main_script.js"></script>
</body>

</html>