--- 
---
<!DOCTYPE html>
<html lang="en">
{% include header.html title="Jerry Factory" %}

<body>
    {% assign homepage_links = site.data.navbar_links['homepage'] %}
    {% include navbar_template.html links = homepage_links %}
    <div class="row downloaddiv">

        <div align="center">
            <img class='mainimg' src="./img/jf335.png" alt="Flash Clipboard">
        </div>
        <h1>
            Jerry Factory</h1>
        <h3>Free and Open Source Apps</h3>


    </div>
    <div class="row started" id="apps">
        <h1>Apps & Software</h1>
        <div class='app_cards_container'>
            {% include card_template.html card_data = site.data.cards_data %}
        </div>

    </div>

    {% include scripts_include.html %}
</body>

</html>