{% for card in include.card_data %}
<a class='app_card_wrapper' target="_blank" href="{{card.href}}">
    <div class="overlay"></div>
    <div class='card_title'><h2>{{ card.title }}</h2></div>
    <div class='card_icon'>
        <img class='card_icon_img' src="{{card.image}}" alt="{{ card.title }}">
    </div>
    <!-- <div class='card_label'><h4>{{card.downloads}}</h4></div> -->
    <div class='card_label'><h3>FREE DOWNLOAD</h3></div>

    <div class='card_plaform_container'>
    {% for platform in card.downloads %}
    {% case platform %}
    {% when 'win' %}
    <div class='card_platform'>
            <img src="/img/win.svg" title="Windows">
        <h5>Windows</h5></div>
        {% when 'mac' %}
        <div class='card_platform'>
                <img src="img/mac.svg" title="Mac">
            <h5>Mac</h5></div>
        {% when 'linux' %}
        <div class='card_platform'>
                <img src="img/linux.svg" title="Linux">
            <h5>Linux</h5></div>
            {% when 'chrome' %}
            <div class='card_platform'>
                    <img src="img/chrome.svg" title="Chrome Extension">
                    <h5>Chrome Extension</h5></div>
        {% endcase %}
    {% endfor %}
    

</div>
    
         
                
                    

    <div class='card_desc'>
        <p>{{card.desc}}</p></div>
</a>
{% endfor %}