<nav class="navbar-menu navbar-bg-toggle">
    <span class='navbar-1'>
        <!-- // to do:
        add bottom shadow to navbar -->
        <a href={{ include.links.first[ 'href'] }} class="nav-homepage">
            {{ include.links.first['title'] }}
        </a>
        <!-- mobile screen hamburger menu -->
        <div class="nav-menu-select">
            <a class="nav-hamburger">
                <div class="hamburger bar1"></div>
                <div class="hamburger bar2"></div>
                <div class="hamburger bar3"></div>
            </a>
        </div>
        <!-- desktop screen menu -->
        <ul class="nav-menu-options navbar-bg-toggle">
            {% for link in include.links %} {% if forloop.index != 1 %}
            <li>
                <a href={{link[ 'href']}}>{{link['title']}}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </span>
<!-- below is the 2nd navbar for flash clipboard page -->
    {% if include.links2 != "" and include.links2 != nil %}
    <span class='navbar-2'>
        <a href={{ include.links2.first[ 'href'] }} class="nav-homepage">
            {{ include.links2.first['title'] }}
        </a>
        <ul class="nav-menu-options">
            {% for link in include.links2 %} {% if forloop.index == 1 %}
            <li>
                <a class='label'>{{link['title']}}</a>
            </li>
            {% else %}
            <li>
                <a class='links-2' href={{link[ 'href']}}>{{link['title']}}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </span>
    {% endif %}
</nav>