<span class='container'>
    <a class='tooltip' href="mailto:1gouravgg@gmail.com" target="_top">
        <div class='social-icon ml'>
            <span class="tooltiptext">Mail</span>
        </div>
    </a>
</span>
<span class='container'>
    <a class='tooltip' href="https://www.linkedin.com/in/1gouravgg/" target="_blank">
        <div class='social-icon in'>
            <span class="tooltiptext">Linkedin</span>

        </div>
    </a>
</span>
<span class='container'>
    <a class='tooltip' href="https://stackoverflow.com/users/3073272/jerrygoyal" target="_blank">
        <div class='social-icon so'>
            <span class="tooltiptext">Stackoverflow</span>

        </div>
    </a>
</span>
<span class='container'>
    <a class='tooltip no-ripple' href="https://github.com/JerryGoyal" target="_blank">
        <div class='social-icon gh'>
            <span class="tooltiptext">Github</span>

        </div>
    </a>
</span>
<span class='container'>
    <a class='tooltip no-ripple' href="https://medium.com/@jerrygoyal" target="_blank">
        <div class='social-icon md'>
            <span class="tooltiptext">Medium</span>

        </div>
    </a>
</span>
<span class='container'>
    <a class='tooltip no-ripple' href="https://www.instagram.com/baked.gourav/" target="_blank">
        <div class='social-icon ig'>
            <span class="tooltiptext">instagram</span>
        </div>
    </a>
</span>