<span class='container'><a href="mailto:1gouravgg@gmail.com" target="_top">
    <div class='social-icon ml'></div>
</a></span>
<span class='container'><a href="https://www.linkedin.com/in/1gouravgg/" target="_blank">
    <div class='social-icon in'></div>
</a></span>
<span class='container'><a href="https://stackoverflow.com/users/3073272/jerrygoyal" target="_blank">
    <div class='social-icon so'></div>
</a></span>
<span class='container'><a href="https://github.com/JerryGoyal" target="_blank">
    <div class='social-icon gh'></div>
</a></span>
<span class='container'><a href="https://medium.com/@jerrygoyal" target="_blank">
    <div class='social-icon md'></div>
</a></span>
<span class='container'><a href="https://www.instagram.com/baked.gourav/" target="_blank">
    <div class='social-icon ig'></div>
</a></span>