$color-main:#fefefe;
$color-accent:#304fff;
$box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.2);
%vcard-width {
    width: 100%;
    max-width: 700px;
}

%color-invert {
    background: $color-accent;
    color: $color-main;
}

body.about-me {
    background: #eeeeee;
    font-size: 16px;
    color: #868686;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-weight: 300;
    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    h1 {
        margin: .67em 0;
        font-size: 2em;
    }
    .h4,
    .h5,
    .h6,
    h4,
    h5,
    h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    p {
        font-size: 16px;
        line-height: 25px;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .social-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain !important;
    }
    .social-icon.ml {
        background: url($baseurl + '/about-me/img/mail.svg') no-repeat center;
    }
    .social-icon.in {
        background: url($baseurl + '/about-me/img/linkedin.svg') no-repeat center;
    }
    .social-icon.so {
        background: url($baseurl + '/about-me/img/so.svg') no-repeat center;
    }
    .social-icon.gh {
        background: url($baseurl + '/about-me/img/github.svg') no-repeat center;
    }
    .social-icon.md {
        background: url($baseurl + '/about-me/img/medium.svg') no-repeat center;
    }
    .social-icon.ig {
        background: url($baseurl + '/about-me/img/instagram.svg') no-repeat center;
    }
    .tooltip {
        display: inline-block;
        position: relative;
        &:focus,
        &:active,
        &:hover {
            &:before {
                animation: ripple-out 1s;
            }
            .tooltiptext {
                animation: tooltipPulse 600ms cubic-bezier(0, 0, .2, 1)forwards;
            }
        }
        &:before {
            content: '';
            position: absolute;
            border: $color-accent solid 6px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 51%;
            opacity: 0;
        }
        .tooltiptext {
            transform: scale(0);
            z-index: 999;
            transform-origin: bottom center;
            min-width: 60px;
            text-transform: capitalize;
            background: #444;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            border-radius: 2px;
            color: #fff;
            padding: 8px;
            position: absolute;
            bottom: 32px;
            left: 50%;
            margin-left: -30px;
        }
    }
    /* Ripple Out */
    @keyframes ripple-out {
        0% {
            opacity: 1;
        }
        100% {
            transform: scale(1.35);
            opacity: 0;
        }
    }
    @keyframes tooltipPulse {
        0% {
            transform: scale(0);
            opacity: 0
        }
        50% {
            opacity: 0;
            transform: scale(0);
        }
        70% {
            opacity: 1;
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
    .material {
        background: $color-main;
        border-radius: 2px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        padding: 25px;
        margin: 0 0 30px 0;
        .card-title {
            position: relative;
            margin: -57px 0 0 0;
            text-align: center;
        }
        .card-icon {
            margin: 0 auto;
            position: relative;
            display: block;
            overflow: hidden;
            width: 62px;
            height: 62px;
            line-height: 62px;
            background: $color-accent;
            border-radius: 62px;
            box-shadow: $box-shadow;
            color: white;
        }
        .card-name {
            margin: 20px 0;
            display: block;
            font-weight: 400;
            font-size: 17px;
            color: #363636;
        }
        .card-subname {
            margin: 0 0 10px 0;
            padding: 1px 5px;
            display: inline-block;
            vertical-align: top;
            background: #efefef;
            font-size: 13px;
            color: #363636;
            border-radius: 2px;
        }
        .card-content {
            margin-bottom: 0;
        }
    }
    .section {
        text-align: center;
        padding: 35px 0;
        .title {
            height: 90px;
            text-align: center;
            color: #363636;
            font-size: 36px;
            font-weight: 100;
        }
    }
    .main-container {
        max-width: 1100px;
        margin: 0 auto;
        max-width: 1100px;
    }
    @media (max-width: 1080px) {
        .main-container {
            margin: 0 20px;
        }
    }
    @media (max-width: 420px) {
        .main-container {
            margin: 0 10px;
        }
    }
    .row {
        padding-bottom: 0;
        margin: 0 -10px;
        padding: 0 0 30px 0;
    }
    .section.intro {
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh; // min-height: 768px;
        display: table;
        position: relative;
        text-align: center;
        background: url($baseurl + '/about-me/img/wood.jpg') no-repeat center bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #111111;
            opacity: .85;
        }
        .content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            -webkit-transform: translateY(-2.1rem);
            -ms-transform: translateY(-2.1rem);
            transform: translateY(-2.1rem);
            color: #ffffff;
            .hello-world {
                color: #cc005f;
                font-size: 22px;
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: 500;
                line-height: 1.1;
            }
            .my-name {
                font-size: 64px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
                color: inherit;
                margin: .67em 0;
            }
            .typewrite {
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-size: 20px;
                margin-bottom: 30px;
                text-align: center;
                .wrap {
                    animation: caret 1s steps(1) infinite;
                    border-right: 0.08em solid #fff;
                    padding-right: 1px;
                }
                @keyframes caret {
                    50% {
                        border-color: transparent;
                    }
                }
            }
            .scroll-down {
                position: absolute;
                left: 50%;
                bottom: 10px;
                margin-left: -20px; // half of image width
                cursor: pointer;
                animation: down 3s ease infinite;
                i {
                    padding: 50px 20px 0px 20px;
                    position: absolute;
                    opacity: 0.7;
                    background: url($baseurl + '/about-me/img/chevron-down.svg') no-repeat center;
                }
            }
            @keyframes down {
                0% {
                    bottom: 30px;
                }
                50% {
                    bottom: 60px;
                }
                100% {
                    bottom: 30px;
                }
            }
        }
    }
    .section.card {
        position: relative;
        .vcard {
            @extend %vcard-width;
            height: 350px;
            display: inline-block;
            &:before {
                //content: '';
                position: absolute;
                border-style: solid;
                border-width: 0 18px 380px 76px;
                border-color: transparent white white transparent;
                top: 0;
                left: 123px;
                z-index: 1;
            }
            .dp {
                height: 350px;
                float: left;
                width: 200px;
                position: relative;
                bottom: 25px;
                right: 25px;
                background: url($baseurl + '/about-me/img/profile.png') no-repeat center;
            }
            .info {
                .name {
                    font-size: 42px;
                    font-weight: 100;
                    line-height: 44px;
                    color: #363636;
                }
                .profile {
                    margin: 15px 0 0 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: #363636;
                }
                .social {
                    margin: 25px 0;
                    .container {
                        width: 10%;
                        display: inline-block;
                        a {
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            width: 40px;
                            height: 40px;
                            line-height: 46px;
                            text-align: center;
                            background: $color-accent;
                            border-radius: 51%;
                            box-shadow: $box-shadow;
                            .tooltiptext {
                                bottom: 40px;
                            }
                            .social-icon {
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: $width-mobile) {
            .vcard {
                height: auto;
                .dp {
                    float: none;
                    width: inherit;
                    position: static;
                    margin-bottom: 30px;
                }
                .info {
                    .social {
                        .container {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
    .section.expertise {
        .material {
            min-height: 200px;
        }
    }
    .section.skills {
        .skill-container {
            padding: 12px 0 14px 0;
            .skill-name {
                margin: 0 0 6px 0;
                position: relative;
                display: block;
                font-size: 14px;
                color: #363636;
                font-weight: 400;
                text-align: left;
            }
            .skill-bar {
                position: relative;
                display: block;
                width: 100%;
                height: 8px;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                .percent {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70%;
                    height: 8px;
                    background: $color-accent;
                    border-radius: 2px;
                    .dot {
                        position: absolute;
                        top: -9px;
                        right: 0;
                        height: 26px;
                        width: 26px;
                        line-height: 26px;
                        text-align: center;
                        background: $color-accent;
                        border-radius: 26px;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
    }
    .section.experience {
        text-align: center;
        position: relative;
        .title {
            position: relative;
            height: 70px;
            text-align: center;
            color: #363636;
            font-size: 36px;
            font-weight: 100;
            z-index: 3;
        }
        .circle {
            margin: 0 0 0 -31px;
            position: absolute;
            left: 50%;
            bottom: -45px;
            width: 62px;
            height: 62px;
            background: $color-accent;
            text-align: center;
            line-height: 62px;
            padding-left: 1px;
            border-radius: 62px;
            box-shadow: $box-shadow;
        }
        @media (max-width: $width-mobile) {
            .title {
                padding: 20px 0 0 80px;
                text-align: left;
            }
            .circle {
                margin: 0;
                bottom: 0;
                left: 0;
            }
        }
        .timeline {
            margin: 30px 0 0 0;
            padding: 50px 0 0 0;
            position: relative;
            &:before {
                content: '';
                margin: 0 0 0 -2px;
                position: absolute;
                top: 0;
                left: 50%;
                width: 3px;
                height: 100%;
                background: $color-accent;
            }
            .block:first-child {
                margin-top: 0;
            }
            .block {
                margin: 30px 0;
                position: relative;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .content {
                    position: relative;
                    width: 46%;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 19px;
                        left: 100%;
                        height: 0;
                        width: 0;
                        border: 7px solid transparent;
                        border-left: 7px solid $color-main;
                        z-index: 2;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 18px;
                        left: 100%;
                        height: 16px;
                        width: 9px;
                        z-index: 1;
                    }
                    .material {
                        margin: 0;
                        text-align: left;
                        .date {
                            margin: 0;
                            position: absolute;
                            top: 13px;
                            padding: 1px 5px;
                            display: inline-block;
                            vertical-align: top;
                            background: $color-accent;
                            font-size: 13px;
                            color: $color-main;
                            border-radius: 2px;
                            border-color: transparent;
                            left: calc(100% + 80px);
                            white-space: nowrap;
                            &:before {
                                content: '';
                                margin: -6px 0 0 0;
                                position: absolute;
                                top: 50%;
                                right: 100%;
                                height: 0;
                                width: 0;
                                border: 6px solid transparent;
                                border-right: 6px solid $color-accent;
                            }
                        }
                        @media (max-width: $width-mobile) {
                            .date {
                                right: auto;
                                left: 0;
                            }
                        }
                        .card-name {
                            margin: 0 0 10px 0;
                            padding: 0;
                            text-align: left;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
                @media (max-width: $width-mobile) {
                    .content {
                        margin-left: 60px;
                        padding-top: 60px;
                        position: relative;
                        width: auto;
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
                .point {
                    margin: 0 0 0 -13px;
                    position: absolute;
                    top: 12px;
                    left: 50%;
                    width: 26px;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    background: $color-accent;
                    border-radius: 26px;
                    box-shadow: $box-shadow;
                }
                @media (max-width: $width-mobile) {
                    .point {
                        margin: 0;
                        left: 17px;
                    }
                }
            }
            .block:nth-child(even) {
                .content {
                    float: right;
                    &:before {
                        top: 19px;
                        left: auto;
                        right: 100%;
                        border-left: none;
                        border-right: 7px solid $color-main;
                    }
                    &:after {
                        top: 19px;
                        left: auto;
                        right: 100%;
                    }
                    .date {
                        left: auto;
                        right: calc(100% + 80px);
                        &:before {
                            right: auto;
                            left: 100%;
                            border-right: none;
                            border-left: 6px solid $color-accent;
                        }
                    }
                }
            }
            @media (max-width: $width-mobile) {
                .block:nth-child(even) {
                    .content .date {
                        right: auto;
                        left: 0;
                        &:before {
                            left: auto;
                            right: 100%;
                            border-left: none;
                            border-right: 6px solid $color-accent;
                        }
                    }
                }
            }
        }
        @media (max-width: $width-mobile) {
            .timeline {
                margin: 0;
                &:before {
                    left: 31px;
                }
            }
        }
    }
    .section.contact {
        .content {
            .material {
                @extend %vcard-width;
                display: inline-block;
            }
        }
        .vcard.content {
            .material {
                position: relative;
                top: 15px;
                .card-icon {
                    background: url($baseurl + '/about-me/img/rev1.jpg') no-repeat center;
                    width: 100px;
                    height: 100px;
                    bottom: 20px;
                }
                .card-name {
                    margin-top: 0px;
                }
                .card-subname {
                    padding: 2px 5px;
                    background: $color-accent;
                    color: $color-main;
                    font-weight: 400;
                }
            }
        }
        .social.content {
            position: relative;
            bottom: 45px;
            .material {
                @extend %color-invert;
                .container {
                    width: 15%;
                    display: inline-block;
                    a {
                        .social-icon {
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}