.navbar-bg {
    background-color: $nav-color-prime;
    // border-bottom: $nav-border-bottom;
    .nav-menu-options,.nav-menu-select{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 7px -1px;
    }
}

.navbar-menu {
    transition: top 0.3s ease-in-out;
    width: calc(100%);
    height: 58.67px;
    position: fixed;
    top: 0;
    z-index: 10;
    a {
        color: $nav-color-second;
        text-decoration: none;
        cursor: pointer;
        /* remove click feedback */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .nav-homepage {
        display: inline-block;
        font-weight: bold;
        letter-spacing: 1px;
        position: absolute;
        z-index: 1;
        height: inherit;
        padding: 15px 16px;
    }
    .nav-menu-select {
        margin: 0;
        text-align: right;
        height: 58.67px;
    }
    .nav-menu-options {
        display: block;
        text-align: right;
        width: 100%;
        margin: 0px;
        padding: 0px;
        // border-bottom: $nav-border-bottom;
        // position: relative;
        // bottom: 1px;
        /* equal to the bottom border of navbar */
        li a {
            display: block;
            padding: 17px;
        }
    }
    .nav-hamburger {
        display: inline-block;
        height: inherit;
        padding: 14px;
    }
    /* *** ANIMATION HAMBURGER CLICK **** */
    .hamburger {
        width: 25px;
        height: 2px;
        background-color: currentColor;
        margin: 6px 0;
        transition: 0.4s;
    }
    .nav-hamburger:before {
        content: "";
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
        top: 10px;
        right: 6px;
        border-radius: 100%;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }
    .nav-hamburger.change:before {
        border: 2px solid currentColor;
    }
    .change .bar1 {
        transform: rotate(-45deg) translate(-6px, 7px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }
    .navbar-1 {
        .nav-homepage {
            // font-size: 20px;
            @extend %app-title-font;
        }
        .nav-menu-options a {
            @extend %app-platform-font;
        }
        a:not(.nav-hamburger):hover {
            background-color: $nav-color-second;
            color: $nav-color-prime;
            font-weight: 400;
        }
        // .nav-menu-options {
        //     transition: top 0.3s ease-in-out;
        // }
    }
    .navbar-2 {
        width: 100%;
        a {
            padding: 15px !important;
            opacity: 0.8;
        }
        a:after {
            content: '';
            display: block;
            margin: auto;
            margin-top: 5px;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .4s ease, background-color .4s ease;
        }
        a:hover:after {
            width: 100%;
            background: $nav-color-second;
        }
        .nav-homepage {
            font-size: 18px;
        }
        .nav-menu-options {
            a {
                font-size: 17px;
            }
        }
    }
}

.nav-2-sticky {
    position: fixed !important;
    background-color: $nav-color-second;
    top: 0;
    z-index: 10;
    // border-bottom: $nav-border-bottom;
    transition: 0.4s all ease-out;
    a {
        color: $nav-color-prime;
        font-size: 130% !important;
        transition: 0.4s all ease-out;
        opacity: 1 !important;
    }
    a:hover:after {
        background: $nav-color-prime !important;
    }
}

.nav-2-un-sticky {
    position: absolute;
    transition: 0.2s all ease-out;
    a {
        transition: 0.4s all ease-out;
    }
}

/* DESKTOP */

@media screen and (min-width: 750px) {
    .navbar-2 {
        .label {
            display: none !important;
        }
    }
    .nav-menu-select {
        display: none;
    }
    .nav-menu-options {
        display: block !important;
        // border-bottom: 0 !important;
        li {
            display: inline-block;
        }
    }
}

/* MOBILE */

@media screen and (max-width: 750px) {
    .navbar-menu {
        .navbar-2 {
            a {
                opacity: 1;
            }
            .label {
                display: block;
                color: rgba($nav-color-prime, 0.8);
                background-color: $nav-color-second;
                cursor: default;
                font-size: 20px !important;
                letter-spacing: 2px;
                border-bottom: 22px solid $nav-color-prime;
            }
            .links-2 {
                background-color: $nav-color-prime;
            }
            .nav-homepage {
                display: none;
            }
            .nav-menu-options {
                /* hide bottom border of 1st navbar */
                bottom: 2px;
                z-index: 10;
            }
            .label:after {
                pointer-events: none;
                position: absolute;
                content: '';
                border-style: solid;
                left: calc(50% - 30px);
                top: 50px;
                border-color: $nav-color-second transparent transparent transparent;
                border-width: 30px;
                margin: 0px !important;
                height: 0;
            }
            .label:hover:after {
                width: 0;
                background-color: transparent;
            }
        }
        .navbar-menu {
            margin: 0;
        }
        .nav-menu-options {
            display: none;
            position: relative;
            text-align: center;
            li {
                display: block;
            }
        }
    }
}