---
permalink: /about-me
redirect_from:
  - /About
  - /about
  - /About-Me
  - /About-me
  - /aboutme
  - /resume

skillset:
  Professional:
  - - C# (.Net)
    - 90%
  - - Java
    - 60%
  - - Frontend Technologies
    - 80%
  - - Node.JS
    - 85%
  - - SQL Database
    - 70%
  - - NoSQL Database
    - 66%
  Personal:
  - - Creativity
    - 95%
  - - Communication
    - 78%
  - - Leadership
    - 70%
  - - Dedication
    - 85%
  - - Teamwork
    - 73%
  - - Language (English)
    - 92%
experience:
- date: 2017-present
  company: samasung
  role: software developer
  desc: Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem
    an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem
    sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
- date: 2016-2017
  company: Honeywell
  role: software developer
  desc: Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem
    an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audiresuavitate has, ei quodsi tacimates sapientem
    sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
- date: 2015-2016
  company: Leadsquared
  role: software developer
  desc:   Ius illum vocent mediocritatem
    an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audiresuavitate has, ei quodsi tacimates sapientem
    sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
- date: 2014-2015
  company: Air India Airline Company
  role: software developer
  desc:   Ius illum vocent mediocritatem
    an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audirere at. Ubique maluisset vel te, his dico vituperata ut. Pro
    ei phaedrum maluisset. Ex audire re at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audiresuavitate has, ei quodsi tacimates sapientem
    sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.


---
<!DOCTYPE html>
<html lang="en">

{% include header.html title="Jerry Factory" %}

<body class='about-me'>
    <div class='section intro'>
        <div class="overlay"></div>
        <div class='content'>
            <div class="hello-world">Hello, World.</div>
            <div class="my-name">I'm Gourav Goyal</div>
            <p class="typewrite" data-period="2000" data-type='[ "FULL STACK DEVELOPER","UI/UX DESIGNER" ]'>
                <span class="wrap"></span>
            </p>
            <a href='#profile' class="scroll-down">
                <i></i>
            </a>
        </div>

    </div>
    <!-- social links:
Add location

<div class="section portfolio">

<div class='section blog>
-->
    <div class='main-container'>
        <div id="profile" class='section card'>
            <div class='content row'>
                <div class='col-12'>
                    <div class='vcard material'>
                        <div class='dp'></div>
                        <div class='info'>
                            <div class='main-title'>Gourav Goyal</div>
                            <div class='card-subtitle'>Full Stack Developer & UI/UX Designer</div>
                            <div class='social'>
                                {% include social_links_template.html %}
                            </div>
                            <p>
                                Namaste, My name is Gourav Goyal. I've 3+ years of experience in building dynamic web projects, mobile apps and, desktop
                                software. I love to code, create great user experiences and contribute to the open source
                                software community.
                                <br>I am always hungry for new challenges and innovations.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class='section expertise'>
            <div>
                <div class='subject'>
                    <div class='title'>Expertise</div>
                    <!-- <div class='subtitle'>I've got chops in all phases of the development process.</div> -->
                </div>

                <div class='content row'>
                    <div class='col-4'>
                        <div class='material'>
                            <div class='card-title'>
                                <div class='card-icon'>
                                    <div class='icon-url strategy'></div>
                                </div>
                                <div class='card-subtitle'>Strategy</div>
                            </div>
                            <p class='card-content'>I collaborate with clients and peers to nurture and transform ideas into well thought out design
                                specs. After all, that's where the majority of amazing user experiences start.
                            </p>
                        </div>

                    </div>
                    <div class='col-4'>
                        <div class='material'>
                            <div class='card-title'>
                                <div class='card-icon'>
                                    <div class='icon-url ux'></div>

                                </div>
                                <div class='card-subtitle'>UI/UX</div>
                            </div>
                            <p class='card-content'>
                                I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist
                                who truly believes that less is more.
                            </p>
                        </div>
                    </div>
                    <div class='col-4'>
                        <div class='material'>
                            <div class='card-title'>
                                <div class='card-icon'>
                                    <div class='icon-url code'></div>
                                </div>
                                <div class='card-subtitle'>Code</div>
                            </div>
                            <p class='card-content'>Having industrial experience of various programming languages and frameworks, I write well structured
                                and optimised code which is the building block of a great product.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section skills">
            <div>
                <div class='subject'>
                    <div class='title'>Skills</div>
                </div>
                <div class='content row'>
                    <div class='col-6'>
                        <div class='material'>
                            <div class='card-title'>
                                <div class='card-icon'>
                                    <div class='icon-url pro'></div>
                                </div>
                                <div class='card-subtitle'>Professional</div>
                            </div>
                            <div class='skills'>
                                {% include skills_template.html skillset = page.skillset.Professional %}

                            </div>

                        </div>
                    </div>
                    <div class='col-6'>
                        <div class='material'>
                            <div class='card-title'>
                                <div class='card-icon'>
                                    <div class='icon-url personal'></div>
                                </div>
                                <div class='card-subtitle'>Personal</div>
                            </div>
                            <div class='skills'>
                                {% include skills_template.html skillset = page.skillset.Personal %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="section experience">
            <div class='title'> Experience
                <span class='card-icon'>
                    <div class='icon-url exp'></div>
                </span>
            </div>

            <div class='timeline'>
                {% include timeline_template.html experience = page.experience %}
            </div>
        </div>
   
        <div class="section contact">
            <div>
                <div class='subject'>
                    <div class='title'>
                        Let's Connect
                    </div>
                </div>
                <div class='vcard content row'>
                    <div class='col-12'>
                        <div class='material'>
                            <div class="card-title">
                                <div class="card-icon"></div>
                                <div class="card-subtitle">Gourav Goyal</div>
                                <div class="card-subname">1gouravgg@gmail.com</div>
                            </div>
                            <div class='card-content'>
                                Got something exciting to work for? or maybe a casual chat. I'm up!
                            </div>
                        </div>
                    </div>
                </div>
                <div class='social content row'>
                    <div class='col-12'>
                        <div class='material'>
                            {% include social_links_template.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include scripts_include.html %}
</body>

</html>