---
permalink: /about-me
redirect_from:
  - /About
  - /about
  - /About-Me
  - /About-me
  - /aboutme
  - /resume
navbar_links:
  - {title: Flash Clipboard, href: "/flash-clipboard"}
  - {title: Getting Started, href: "#started"}
  - {title: Features, href: "#features"}
  - {title: Download, href: "#download"}
---
<!DOCTYPE html>
<html lang="en">

{% include header.html title="Jerry Factory" %}
<body class='about-me'>
    <div class='intro'>
        <div class="overlay"></div>
        <div class='content'>
            <h5 class="hello-world">Hello, World.</h5>
            <h1 class="my-name">I'm Gourav Goyal</h1>
            <p class="typewrite" data-period="2000" data-type='[ "FULL STACK DEVELOPER","UI/UX DESIGNER" ]'>
                <span class="wrap"></span>
            </p>
            <a class="scroll-down">
					<i></i>
				</a>
        </div>
        
    </div>
    <div class='section-card'>
        <div class='v-card'>
            <div class='dp'></div>
            <div class='info'>
                <h1>Gourav GOYAL</h1>
                <h2>Full Stack Developer & UI/UX Designer</h2>
            <p>
                Namaste, My name is Gourav Goyal. I've 3+ years of experience in 
                building dynamic web projects, mobile apps and, desktop software.
                I love to code, create great user experiences and contribute to the open source software community.
                 I am always hungry for new challenges and innovations. 
                </p>
            </div>
        </div>
    </div>

    {% include scripts_include.html %}
</body>
    
    </html>