---
permalink: /about-me
redirect_from:
  - /About
  - /about
  - /About-Me
  - /About-me
  - /aboutme
  - /resume
navbar_links:
  - {title: Flash Clipboard, href: "/flash-clipboard"}
  - {title: Getting Started, href: "#started"}
  - {title: Features, href: "#features"}
  - {title: Download, href: "#download"}
---
<!DOCTYPE html>
<html lang="en">

{% include header.html title="Jerry Factory" %}
<body class='about-me'>
    <div class='intro'>
        <div class="overlay"></div>
        <div class='content'>
            <h5 class="hello-world">Hello, World.</h5>
            <h1 class="my-name">I'm Gourav Goyal</h1>
            <p class="typewrite" data-period="2000" data-type='[ "FULL STACK DEVELOPER","UI/UX DESIGNER" ]'>
                <span class="wrap"></span>
            </p>
            <a class="scroll-down" data-value="about">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</a>
        </div>
    </div>


    {% include scripts_include.html %}
</body>
    
    </html>